<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        pre,
        h3 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: small;
        }
    </style>
    <title>{{subject}}</title>
</head>

<body>
    <div>
        <img src="http://www.mieryteran.com.mx/imagenes/logo_reim_container_park.jpg" width="200" height="50">
        <h3>Estimado {{name}}.</h3>
        <pre>
        {{body}} 

        <a href="{{url}}">RESTABLECE TU CONTRASEÑA AQUI</a>
        </pre>
        <div>
            Atentamente<br>
            REIM CONTAINER PARK
        </div>
    </div>
</body>

</html>