<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{subject}}</title>
</head>

<body>
    <div>
        <img src="http://www.mieryteran.com.mx/imagenes/logo_reim_container_park.jpg" width="300" height="75"><br><br>
    </div>
    <div>
        <h2 class="text-center" mat-header>SE HA REGISTRADO UN NUEVO USUARIO </h2>
    </div>
    <div>

        <p>DATOS: <br>
            {{body}}
        </p>
        <br>
        <div>
            Atentamente
            REIM Container Park
        </div>
    </div>

</body>

</html>