<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
</head>

<body>
    <div>
        <img src="http://www.mieryteran.com.mx/imagenes/logo_reim_container_park.jpg" width="200" height="50"><br><br>
    </div>
    <div>
        <h3>Hola {{name}},</h3>
        <p>Su contraseña se ha restablecido con éxito, ahora puede iniciar sesión con su nueva contraseña.</p>
        <br>
        <div>
            Atentamente
            REIM Container Park
        </div>
    </div>

    <div>
        <img src="http://www.mieryteran.com.mx/imagenes/optimizado.png" width="250" height="80"><br><br>
    </div>

</body>

</html>